@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ResultsInGame {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.ResultsWins,
.ResultsLosses {
	width: 50%;
	height: 10rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 1.8em;
	color: aliceblue;
}

h2 {
	font-size: 2.5em;

	display: block;

	border: 5px solid white;

	font-weight: 900;

	background-color: rgba(255, 255, 255, 0.3);

	border-radius: 99px;
	padding: 0.2em;
}
