.boardx3,
.boardx5,
.boardx7 {
	width: 80vw;
	height: 80vw;
	display: grid;
	/* border: 5px solid rgba(255, 255, 255, 0.6), 1px solid black; */
	box-shadow: inset 0 0 3px 11.5px rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 9px;
}

.boardx3 {
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, auto);
}

.boardx5 {
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(5, auto);
}

.boardx7 {
	grid-template-columns: repeat(7, auto);
	grid-template-rows: repeat(7, auto);
}
.element {
	position: relative;
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;

	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 3px rgb(255, 255, 255);
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: 700;

	user-select: none;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.paired {
	color: transparent;
	/* color: rgba(0, 0, 0, 0.2); */
	text-shadow: none;
}

.not-paired {
	position: relative;
}

.not-paired::after {
	position: absolute;
	content: '';
	background-color: brown;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	opacity: 0;
}

.element-checkbox {
	display: none;
}

.element-checkbox:checked + .not-paired::after {
	opacity: 0.5;
}

.element-checkbox[readonly] + .element {
	pointer-events: none;
}
