@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.startmenu {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
}

.startmenu-header {
	font-size: 1.8rem;
	text-align: center;
}

.startmenu-header h1 {
	font-size: 1.6em;
}

.startmenu-header h6 {
	font-size: 0.6em;
	font-weight: 800;
	text-decoration: 5px solid line-through rgba(255, 0, 0, 0.6);
}

.startmenu-options {
	height: 60vh;
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

/* difficulty options */

.options-diffs {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background: #0c0c0c6e;

	box-shadow: 0 0 50px -10px rgba(50, 100, 200, 0.2);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);

	color: white;

	border-radius: 9px;
}

.diffs-box {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/* other options */

.options-setts {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	background: #3030306b;
	box-shadow: 0 0 50px -10px rgba(50, 100, 200, 0.2);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);

	color: white;
	border-radius: 9px;
}

.setts-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 60%;
	width: 100%;
	gap: 10px;
}

.sett-option {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 35%;
	height: 100%;

	background: #3f4bb99c;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 9px;

	user-select: none;
	cursor: pointer;

	font-weight: 700;
}

.startmenu-bt {
	position: relative;
	color: white;
	font-size: 2rem;
	text-align: center;
	padding: 0 0.4em;
	border: 4px dashed white;
	cursor: pointer;
	text-decoration: none;
}

@media screen and (min-width: 600px) {
	.startmenu-bt {
		animation: shake 1.4s ease 0.2s infinite alternate-reverse;
	}
	@keyframes shake {
		10%,
		90% {
			transform: translate3d(-1px, 0, 0);
		}

		20%,
		80% {
			transform: translate3d(2px, 0, 0);
		}

		30%,
		50%,
		70% {
			transform: translate3d(-4px, 0, 0);
		}

		40%,
		60% {
			transform: translate3d(4px, 0, 0);
		}
	}
}

.light-text {
	color: rgb(49, 59, 201);
}
.dark-text {
	color: black;
}

@media screen and (min-width: 1280px) {
	.startmenu-header {
		font-size: 2.4rem;
	}
	.startmenu-options {
		width: 50vw;
	}
}
